openapi: "3.0.3"

info:
  title: Deposplit API
  version: "0.1"
  description: |
    REST API for the Deposplit secret-sharing backend.

    ## Authentication

    Every request must carry three headers:

    | Header | Content |
    |---|---|
    | `X-Deposplit-Public-Key` | Caller's Ed25519 public key (base64url, 32 bytes) |
    | `X-Deposplit-Nonce` | Per-request unique string in the form `<unix-ms>.<random>` — server rejects requests whose embedded timestamp is more than 5 minutes old |
    | `X-Deposplit-Signature` | Base64url Ed25519 signature (RFC 8032) |

    The signature covers the canonical string:

    ```
    nonce || "\n" || UPPERCASE(method) || "\n" || path_with_query || "\n" || hex(SHA-256(body))
    ```

    where `body` is the empty string for requests without a body.
    The backend verifies the signature against the public key supplied in `X-Deposplit-Public-Key`.
    No pre-registration is required — the keypair is the identity.

    ## Key exchange

    Contacts exchange public keys out-of-band (QR code scanned in person, or a link shared
    via a third-party app such as Signal or Threema). The backend never stores or resolves
    user identities; it routes deposits and consent requests by Ed25519 public key only.

    The QR code / share link carries both keys:
    - **Ed25519 public key** — used for API authentication and as the routing identity on the server
    - **X25519 public key** — used by the sender to encrypt shares client-side (`crypto_box`)

    The server never sees X25519 keys.

    ## Ciphertext encoding

    All binary fields (`ciphertext`, `senderKey`, `recipientKey`) are
    standard base64-encoded strings (`format: byte`).

    ## Notifications

    Clients poll for pending events on app open and periodically while foregrounded:
    `GET /share-requests?role=recipient&state=pending`, etc.
    Background push (FCM/APNs) is not part of v0.1.

servers:
  - url: https://api.deposplit.com/v1

security:
  - ed25519Auth: []

components:

  securitySchemes:
    ed25519Auth:
      type: apiKey
      in: header
      name: X-Deposplit-Signature
      description: >
        Must accompany X-Deposplit-Public-Key and X-Deposplit-Nonce headers.
        See top-level description for the canonical signing string.

  schemas:

    SecretId:
      type: string
      format: uuid
      description: UUID generated by the sender at split time; shared across all n shares of a secret.

    PublicKey:
      type: string
      format: byte
      description: Base64-encoded Ed25519 public key (32 bytes) — used for API authentication and as the routing identity.

    # ── Shares ───────────────────────────────────────────────────────────────

    ShareMetadata:
      description: Share record without ciphertext — safe to return to both parties.
      type: object
      required: [id, secretId, label, senderKey, recipientKey, createdAt]
      properties:
        id:
          type: string
          format: uuid
        secretId:
          $ref: '#/components/schemas/SecretId'
        label:
          type: string
        senderKey:
          $ref: '#/components/schemas/PublicKey'
        recipientKey:
          $ref: '#/components/schemas/PublicKey'
        createdAt:
          type: string
          format: date-time

    ShareDeposit:
      type: object
      required: [secretId, label, recipientKey, ciphertext]
      properties:
        secretId:
          $ref: '#/components/schemas/SecretId'
        label:
          type: string
          minLength: 1
        recipientKey:
          $ref: '#/components/schemas/PublicKey'
        ciphertext:
          type: string
          format: byte
          description: >
            Share bytes encrypted to the recipient's X25519 public key via
            libsodium crypto_box (X25519 + XSalsa20-Poly1305). Opaque to the server.

    # ── Share requests (consent model) ───────────────────────────────────────

    ShareRequestType:
      type: string
      enum: [retrieve, delete]
      description: >
        `retrieve` — sender wants the share bytes back (requires recipient approval).
        `delete`   — sender wants the recipient to delete the share (requires recipient approval).

    ShareRequestState:
      type: string
      enum: [pending, approved, denied]

    ShareRequest:
      type: object
      required: [id, share, requestType, state, requestedAt]
      properties:
        id:
          type: string
          format: uuid
        share:
          $ref: '#/components/schemas/ShareMetadata'
        requestType:
          $ref: '#/components/schemas/ShareRequestType'
        state:
          $ref: '#/components/schemas/ShareRequestState'
        requestedAt:
          type: string
          format: date-time
        respondedAt:
          type: string
          format: date-time
          nullable: true
        ciphertext:
          type: string
          format: byte
          nullable: true
          description: >
            Only present when requestType is `retrieve` and state is `approved`.
            Contains the encrypted share bytes — same value originally deposited.

    # ── Errors ───────────────────────────────────────────────────────────────

    Error:
      type: object
      required: [code, message]
      properties:
        code:
          type: string
        message:
          type: string

paths:

  # ── Shares ─────────────────────────────────────────────────────────────────

  /shares:
    post:
      operationId: depositShare
      summary: "Message 1 — Deposit a share with a recipient"
      description: >
        Sender deposits an encrypted share. The backend stores the ciphertext
        keyed by the recipient's Ed25519 public key. The server never decrypts.
      tags: [Shares]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ShareDeposit'
      responses:
        '201':
          description: Share deposited.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShareMetadata'
        '409':
          description: A share for this (secretId, recipientKey) pair already exists.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    get:
      operationId: listShares
      summary: "Message 2 — List shares (metadata only, no ciphertext)"
      description: |
        Returns share metadata without ciphertext.

        - `role=sender`    — shares I have deposited (optionally filtered by recipient)
        - `role=recipient` — shares I hold (optionally filtered by sender)
      tags: [Shares]
      parameters:
        - name: role
          in: query
          required: true
          schema:
            type: string
            enum: [sender, recipient]
        - name: counterpartyKey
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/PublicKey'
          description: Filter to shares exchanged with this specific Ed25519 public key.
      responses:
        '200':
          description: Share metadata list.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ShareMetadata'

  /shares/{shareId}:
    delete:
      operationId: deleteShareAsRecipient
      summary: Recipient-initiated deletion — no consent required
      description: >
        The authenticated recipient deletes a share they hold. Unilateral — no sender
        approval required, and the sender is not notified. The recipient may delete any
        or all of their held shares at any time.
      tags: [Shares]
      parameters:
        - name: shareId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Share deleted.
        '403':
          description: Caller is not the recipient of this share.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Share not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  # ── Share requests (consent model) ─────────────────────────────────────────

  /share-requests:
    post:
      operationId: openShareRequest
      summary: "Messages 3 & 4 (sender side) — Open a consent request"
      description: >
        Sender opens a `retrieve` or `delete` request for a share they deposited.
        The recipient is notified and must respond via `PATCH /share-requests/{id}`.
        At most one pending request of each type may exist per share at a time.
      tags: [ShareRequests]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [shareId, requestType]
              properties:
                shareId:
                  type: string
                  format: uuid
                requestType:
                  $ref: '#/components/schemas/ShareRequestType'
      responses:
        '201':
          description: Request opened; recipient notified.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShareRequest'
        '403':
          description: Caller is not the sender of the referenced share.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Share not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: A pending request of this type already exists for this share.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    get:
      operationId: listShareRequests
      summary: List share requests
      description: |
        - `role=sender`    — requests I have opened (to poll for resolution)
        - `role=recipient` — requests pending my approval
      tags: [ShareRequests]
      parameters:
        - name: role
          in: query
          required: true
          schema:
            type: string
            enum: [sender, recipient]
        - name: state
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/ShareRequestState'
      responses:
        '200':
          description: Share request list.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ShareRequest'

  /share-requests/{requestId}:
    get:
      operationId: getShareRequest
      summary: Get a share request
      description: >
        Used by the sender to poll for resolution. When `state` is `approved`
        and `requestType` is `retrieve`, the response includes `ciphertext`.
      tags: [ShareRequests]
      parameters:
        - name: requestId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Share request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShareRequest'
        '403':
          description: Caller is neither the sender nor the recipient of this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Request not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    patch:
      operationId: respondToShareRequest
      summary: "Messages 3 & 4 (recipient side) — Approve or deny a consent request"
      description: >
        Called by the recipient (share holder) to approve or deny a pending request.
        Approving a `delete` request causes the share to be deleted server-side.
      tags: [ShareRequests]
      parameters:
        - name: requestId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [state]
              properties:
                state:
                  type: string
                  enum: [approved, denied]
      responses:
        '200':
          description: Decision recorded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShareRequest'
        '403':
          description: Caller is not the recipient of the share associated with this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Request not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Request is no longer pending.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
