openapi: "3.0.3"

info:
  title: Deposplit API
  version: "0.1"
  description: |
    REST API for the Deposplit secret-sharing backend.

    ## Authentication

    Every request must carry three headers:

    | Header | Content |
    |---|---|
    | `X-Deposplit-Public-Key` | Caller's Ed25519 public key (base64url, 32 bytes) |
    | `X-Deposplit-Nonce` | Per-request unique string in the form `<unix-ms>.<random>` — server rejects requests whose embedded timestamp is more than 5 minutes old |
    | `X-Deposplit-Signature` | Base64url Ed25519 signature (RFC 8032) |

    The signature covers the canonical string:

    ```
    nonce || "\n" || UPPERCASE(method) || "\n" || path_with_query || "\n" || hex(SHA-256(body))
    ```

    where `body` is the empty string for requests without a body.
    The backend verifies the signature against the public key supplied in `X-Deposplit-Public-Key`.
    No pre-registration is required — the keypair is the identity.

    ## Key exchange

    Contacts exchange public keys out-of-band (QR code scanned in person, or a link shared
    via a third-party app such as Signal or Threema). The backend never stores or resolves
    user identities; it routes deposits and consent requests by Ed25519 public key only.

    The QR code / share link carries both keys:
    - **Ed25519 public key** — used for API authentication and as the routing identity on the server
    - **X25519 public key** — used by the sender to encrypt shares client-side (X25519+HKDF-SHA-256+ChaCha20-Poly1305)

    The server never sees X25519 keys.

    ## Binary encoding

    - **Public key fields** (`senderKey`, `recipientKey` in responses; `recipientKey`
      in deposit requests) use **base64url encoding without padding**, matching the
      encoding used in the `X-Deposplit-Public-Key` auth header.
    - **`ciphertext`** uses **standard base64 encoding with padding** (`format: byte`).

    ## Notifications

    Clients poll for pending events on app open and periodically while foregrounded:
    `GET /share-requests?role=recipient&state=pending`, etc.
    Background push (FCM/APNs) is not part of v0.1.

servers:
  - url: https://api.deposplit.com

security:
  - ed25519Auth: []

components:

  securitySchemes:
    ed25519Auth:
      type: apiKey
      in: header
      name: X-Deposplit-Signature
      description: >
        Must accompany X-Deposplit-Public-Key and X-Deposplit-Nonce headers.
        See top-level description for the canonical signing string.

  schemas:

    SecretId:
      type: string
      format: uuid
      description: UUID generated by the sender at split time; shared across all n shares of a secret.

    PublicKey:
      type: string
      description: Base64url-encoded Ed25519 public key (32 bytes, no padding) — used for API authentication and as the routing identity.

    # ── Shares ───────────────────────────────────────────────────────────────

    ShareMetadata:
      description: Share record without ciphertext — safe to return to both parties.
      type: object
      required: [id, secretId, label, senderKey, recipientKey, createdAt]
      properties:
        id:
          type: string
          format: uuid
        secretId:
          $ref: '#/components/schemas/SecretId'
        label:
          type: string
        senderKey:
          $ref: '#/components/schemas/PublicKey'
        recipientKey:
          $ref: '#/components/schemas/PublicKey'
        createdAt:
          type: string
          format: date-time
        pickedUpAt:
          type: string
          format: date-time
          nullable: true
          description: >
            Set once the recipient has picked up the share from the relay inbox.
            Always null in recipient-role listings (which only show undelivered shares).
            May be null or non-null in sender-role listings.

    ShareDeposit:
      type: object
      required: [secretId, label, recipientKey, ciphertext]
      properties:
        secretId:
          $ref: '#/components/schemas/SecretId'
        label:
          type: string
          minLength: 1
        recipientKey:
          $ref: '#/components/schemas/PublicKey'
        ciphertext:
          type: string
          format: byte
          description: >
            Share bytes encrypted to the recipient's X25519 public key
            (X25519 + HKDF-SHA-256 + ChaCha20-Poly1305). Opaque to the server.

    # ── Share requests (consent model) ───────────────────────────────────────

    ShareRequestType:
      type: string
      enum: [retrieve, delete]
      description: >
        `retrieve` — sender wants the share bytes back (requires recipient approval).
        `delete`   — sender wants the recipient to delete the share (requires recipient approval).

    ShareRequestState:
      type: string
      enum: [pending, approved, denied]

    ShareRequest:
      type: object
      required: [id, share, requestType, state, requestedAt]
      properties:
        id:
          type: string
          format: uuid
        share:
          $ref: '#/components/schemas/ShareMetadata'
        requestType:
          $ref: '#/components/schemas/ShareRequestType'
        state:
          $ref: '#/components/schemas/ShareRequestState'
        requestedAt:
          type: string
          format: date-time
        respondedAt:
          type: string
          format: date-time
          nullable: true
        ciphertext:
          type: string
          format: byte
          nullable: true
          description: >
            Only present when requestType is `retrieve` and state is `approved`.
            Contains the encrypted share bytes — same value originally deposited.

    # ── Errors ───────────────────────────────────────────────────────────────

    Error:
      type: object
      required: [code, message]
      properties:
        code:
          type: string
        message:
          type: string

paths:

  # ── Shares ─────────────────────────────────────────────────────────────────

  /shares:
    post:
      operationId: depositShare
      summary: "Message 1 — Deposit a share with a recipient"
      description: >
        Sender deposits an encrypted share. The backend stores the ciphertext
        keyed by the recipient's Ed25519 public key. The server never decrypts.
      tags: [Shares]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ShareDeposit'
      responses:
        '201':
          description: Share deposited.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShareMetadata'
        '409':
          description: A share for this (secretId, recipientKey) pair already exists.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    get:
      operationId: listShares
      summary: "Message 2 — List shares (metadata only, no ciphertext)"
      description: |
        Returns share metadata without ciphertext.

        - `role=sender`    — shares I have deposited (optionally filtered by recipient)
        - `role=recipient` — shares I hold (optionally filtered by sender)
      tags: [Shares]
      parameters:
        - name: role
          in: query
          required: true
          schema:
            type: string
            enum: [sender, recipient]
        - name: counterpartyKey
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/PublicKey'
          description: Filter to shares exchanged with this specific Ed25519 public key.
      responses:
        '200':
          description: Share metadata list.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ShareMetadata'

  /shares/{shareId}:
    get:
      operationId: pickUpShare
      summary: "Message 1 (recipient side) — Pick up a deposited share"
      description: >
        The authenticated recipient retrieves the ciphertext of a deposited share.
        This is a one-time delivery: the server clears the ciphertext from the relay and
        records the pickup timestamp. The ciphertext now lives only on the recipient's device.
        Returns `409` if the share has already been picked up.
      tags: [Shares]
      parameters:
        - name: shareId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Ciphertext delivered; cleared from relay.
          content:
            application/json:
              schema:
                type: object
                required: [ciphertext]
                properties:
                  ciphertext:
                    type: string
                    format: byte
        '403':
          description: Caller is not the recipient of this share.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Share not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Share has already been picked up.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    delete:
      operationId: deleteShare
      summary: Delete a share row from the relay
      description: >
        Deletes the share row (and any associated consent requests) from the relay.

        - **Recipient**: always allowed — unilateral inbox management, no sender approval required.
        - **Sender**: allowed only after the recipient has picked up the share (`409` otherwise).
          Use a `delete` consent request (Message 4) to ask the recipient to delete their local copy.
      tags: [Shares]
      parameters:
        - name: shareId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Share row deleted.
        '403':
          description: Caller is neither the sender nor the recipient.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Share not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Sender tried to delete before the recipient picked up the share.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  # ── Share requests (consent model) ─────────────────────────────────────────

  /share-requests:
    post:
      operationId: openShareRequest
      summary: "Messages 3 & 4 (sender side) — Open a consent request"
      description: >
        Sender opens a `retrieve` or `delete` request for a share they deposited.
        The recipient is notified and must respond via `PATCH /share-requests/{id}`.
        At most one pending request of each type may exist per share at a time.
      tags: [ShareRequests]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [shareId, requestType]
              properties:
                shareId:
                  type: string
                  format: uuid
                requestType:
                  $ref: '#/components/schemas/ShareRequestType'
      responses:
        '201':
          description: Request opened; recipient notified.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShareRequest'
        '403':
          description: Caller is not the sender of the referenced share.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Share not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: A pending request of this type already exists for this share.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    get:
      operationId: listShareRequests
      summary: List share requests
      description: |
        - `role=sender`    — requests I have opened (to poll for resolution)
        - `role=recipient` — requests pending my approval
      tags: [ShareRequests]
      parameters:
        - name: role
          in: query
          required: true
          schema:
            type: string
            enum: [sender, recipient]
        - name: state
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/ShareRequestState'
      responses:
        '200':
          description: Share request list.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ShareRequest'

  /share-requests/{requestId}:
    get:
      operationId: getShareRequest
      summary: Get a share request
      description: >
        Used by the sender to poll for resolution. When `state` is `approved`
        and `requestType` is `retrieve`, the response includes `ciphertext`.
      tags: [ShareRequests]
      parameters:
        - name: requestId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Share request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShareRequest'
        '403':
          description: Caller is neither the sender nor the recipient of this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Request not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    patch:
      operationId: respondToShareRequest
      summary: "Messages 3 & 4 (recipient side) — Approve or deny a consent request"
      description: >
        Called by the recipient (share holder) to approve or deny a pending request.

        - Approving a `retrieve` request requires the recipient to include `ciphertext` in the body
          (the share bytes from their local storage). The server stores this temporarily so the sender
          can retrieve it. Returns `400` if `ciphertext` is absent for a retrieve approval.
        - Approving a `delete` request causes the share row to be deleted server-side.
      tags: [ShareRequests]
      parameters:
        - name: requestId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [state]
              properties:
                state:
                  type: string
                  enum: [approved, denied]
                ciphertext:
                  type: string
                  format: byte
                  description: >
                    Required when approving a `retrieve` request. The encrypted share bytes
                    from the recipient's local storage.
      responses:
        '200':
          description: Decision recorded.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShareRequest'
        '403':
          description: Caller is not the recipient of the share associated with this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Request not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Request is no longer pending.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
