openapi: "3.0.3"

info:
  title: Deposplit API
  version: "0.1"
  description: |
    REST API for the Deposplit secret-sharing Web app/service.

    ## Authentication

    Every request must carry three headers:

    | Header | Content |
    |---|---|
    | `X-Deposplit-Public-Key` | Caller's Ed25519 public key (base64url, 32 bytes) |
    | `X-Deposplit-Nonce` | Per-request unique string in the form `<unix-ms>.<random>` — server rejects requests whose embedded timestamp is more than 5 minutes old |
    | `X-Deposplit-Signature` | Base64url Ed25519 signature (RFC 8032) |

    The signature covers the canonical string:

    ```
    nonce || "\n" || UPPERCASE(method) || "\n" || path_with_query || "\n" || hex(SHA-256(body))
    ```

    where `body` is the empty string for requests without a body.
    The Web app/service verifies the signature against the public key supplied in `X-Deposplit-Public-Key`.
    No pre-registration is required — the keypair is the identity.

    ## Key exchange

    Contacts exchange public keys out-of-band (QR code scanned in person, or a link shared
    via a third-party app such as Signal or Threema). The Web app/service never stores or resolves
    user identities; it routes deposits and consent requests by Ed25519 public key only.

    The QR code / share link carries both keys:
    - **Ed25519 public key** — used for API authentication and as the routing identity on the server
    - **X25519 public key** — used by the sender to encrypt shares client-side (X25519+HKDF-SHA-256+ChaCha20-Poly1305)

    The server never sees X25519 keys.

    ## Unified consent model

    All three share operations are modelled as consent requests:

    | Type | Direction | Initiator | Consent required from |
    |---|---|---|---|
    | `pick_up` | Alice deposits → Bob receives | Alice (sender) | Bob (recipient) |
    | `retrieve` | Bob sends back → Alice receives | Alice (sender) | Bob (recipient) |
    | `delete` | Bob deletes locally | Alice (sender) | Bob (recipient) |

    Every request starts in state `pending`; the recipient approves or denies via `PATCH`.

    ## Binary encoding

    - **Public key fields** (`senderKey`, `recipientKey`) use **base64url encoding without padding**,
      matching the `X-Deposplit-Public-Key` auth header.
    - **`ciphertext`** uses **standard base64 encoding with padding** (`format: byte`).

    ## Notifications

    Clients poll for pending events on app open and periodically while foregrounded:
    `GET /share-requests?role=recipient&state=pending`, etc.
    Background push (FCM/APNs) is not part of v0.1.

servers:
  - url: https://api.deposplit.com

security:
  - ed25519Auth: []

components:

  securitySchemes:
    ed25519Auth:
      type: apiKey
      in: header
      name: X-Deposplit-Signature
      description: >
        Must accompany X-Deposplit-Public-Key and X-Deposplit-Nonce headers.
        See top-level description for the canonical signing string.

  schemas:

    SecretId:
      type: string
      format: uuid
      description: UUID generated by the sender at split time; shared across all n shares of a secret.

    PublicKey:
      type: string
      description: Base64url-encoded Ed25519 public key (32 bytes, no padding) — used for API authentication and as the routing identity.

    ShareRequestType:
      type: string
      enum: [pick_up, retrieve, delete]
      description: >
        `pick_up` — sender deposits an encrypted share for the recipient to approve and collect.
        `retrieve` — sender wants the share bytes back from the recipient (requires approval + ciphertext).
        `delete`   — sender wants the recipient to delete their local copy (requires approval).

    ShareRequestState:
      type: string
      enum: [pending, approved, denied]

    ShareRequest:
      description: >
        A self-describing share request row. All three request types (pick_up, retrieve, delete)
        use the same flat structure. `ciphertext` and `shareId` semantics depend on `requestType`
        — see field descriptions.
      type: object
      required: [id, secretId, senderKey, recipientKey, label, secretCreatedAt, requestType, state, requestedAt]
      properties:
        id:
          type: string
          format: uuid
        secretId:
          $ref: '#/components/schemas/SecretId'
        senderKey:
          $ref: '#/components/schemas/PublicKey'
        recipientKey:
          $ref: '#/components/schemas/PublicKey'
        label:
          type: string
          description: Human-readable label for the secret (display only).
        secretCreatedAt:
          type: string
          format: date-time
          description: Client-supplied timestamp of when the secret was created on the sender's device.
        requestType:
          $ref: '#/components/schemas/ShareRequestType'
        state:
          $ref: '#/components/schemas/ShareRequestState'
        shareId:
          type: string
          format: uuid
          nullable: true
          description: >
            For `retrieve` and `delete` rows: the `id` of the originating `pick_up` request,
            supplied by the client and stored opaquely by the relay. `null` for `pick_up` rows.
        requestedAt:
          type: string
          format: date-time
        respondedAt:
          type: string
          format: date-time
          nullable: true
        ciphertext:
          type: string
          format: byte
          nullable: true
          description: >
            Semantics differ by type:

            `pick_up`: populated by the sender at creation (opaque encrypted share bytes);
            delivered to the recipient in the PATCH response on approval and cleared from the relay.
            Not returned on GET after delivery.

            `retrieve`: absent at creation; supplied by the recipient in the PATCH body on approval;
            stored temporarily until the sender collects it via GET.

            `delete`: always null.

    OpenShareRequestBody:
      type: object
      required: [requestType, secretId, label, recipientKey, secretCreatedAt]
      properties:
        requestType:
          $ref: '#/components/schemas/ShareRequestType'
        secretId:
          $ref: '#/components/schemas/SecretId'
        label:
          type: string
          minLength: 1
        recipientKey:
          $ref: '#/components/schemas/PublicKey'
        secretCreatedAt:
          type: string
          format: date-time
        shareId:
          type: string
          format: uuid
          description: >
            Required for `retrieve` and `delete` requests: the `id` of the originating `pick_up` row.
            Must be omitted or null for `pick_up` requests.
        ciphertext:
          type: string
          format: byte
          description: >
            Required for `pick_up` requests: the encrypted share bytes.
            Must be omitted for `retrieve` and `delete` requests.

    Error:
      type: object
      required: [code, message]
      properties:
        code:
          type: string
        message:
          type: string

paths:

  /share-requests:
    post:
      operationId: openShareRequest
      summary: Open a share request (pick_up, retrieve, or delete)
      description: >
        Opens any share request type. The authenticated caller becomes `senderKey`.

        **pick_up**: Sender deposits an encrypted share for the recipient. `ciphertext` is required.
        At most one non-denied pick_up may exist per (secretId, recipientKey) pair.

        **retrieve / delete**: Sender opens a consent request. `shareId` (the originating pick_up id)
        should be supplied so the recipient can look up the share in their local storage.
        At most one pending request of each type may exist per (secretId, senderKey, recipientKey) triple.
      tags: [ShareRequests]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OpenShareRequestBody'
      responses:
        '201':
          description: Request opened.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShareRequest'
        '400':
          description: Missing required field (e.g. ciphertext absent for pick_up).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: An active pick_up or a pending request of this type already exists.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    get:
      operationId: listShareRequests
      summary: List share requests visible to the caller
      description: |
        - `role=sender`    — requests the caller opened (to poll for resolution)
        - `role=recipient` — requests directed at the caller (pending approvals)

        Optionally filter by `type` and/or `state`.
      tags: [ShareRequests]
      parameters:
        - name: role
          in: query
          required: true
          schema:
            type: string
            enum: [sender, recipient]
        - name: type
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/ShareRequestType'
          description: Filter to requests of this type.
        - name: state
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/ShareRequestState'
          description: Filter to requests in this state.
      responses:
        '200':
          description: Share request list.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ShareRequest'

    delete:
      operationId: deleteShareRequests
      summary: Recipient-initiated bulk delete
      description: >
        Deletes all share request rows where the authenticated caller is the recipient.
        Optionally scoped to a specific sender and/or secret.
      tags: [ShareRequests]
      parameters:
        - name: senderKey
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/PublicKey'
          description: Limit deletion to rows from this sender.
        - name: secretId
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/SecretId'
          description: Limit deletion to rows for this secret.
      responses:
        '204':
          description: Rows deleted (or nothing matched — idempotent).

  /share-requests/{requestId}:
    get:
      operationId: getShareRequest
      summary: Get a single share request
      description: >
        Accessible by both the sender and the recipient of the request.
        When a `pick_up` has been approved and the ciphertext delivered, `ciphertext` is null.
        When a `retrieve` has been approved, `ciphertext` contains the share bytes until deleted.
      tags: [ShareRequests]
      parameters:
        - name: requestId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Share request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShareRequest'
        '403':
          description: Caller is neither the sender nor the recipient of this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Request not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    patch:
      operationId: respondToShareRequest
      summary: Approve or deny a pending share request (recipient only)
      description: >
        Called by the recipient to approve or deny a pending request.

        - Approving a `pick_up`: the relay delivers `ciphertext` to the recipient in the response body
          and clears it from the relay (one-time delivery). No `ciphertext` needed in the request body.
        - Approving a `retrieve`: the recipient must supply `ciphertext` (the share bytes from their
          local storage) in the request body. Returns `400` if absent.
        - Approving a `delete`: the relay cascades a delete of all rows for the same
          (secretId, senderKey, recipientKey) triple. No `ciphertext` involved.
        - Any denial: records `state=denied` and `respondedAt`. No ciphertext exchanged.
      tags: [ShareRequests]
      parameters:
        - name: requestId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [state]
              properties:
                state:
                  type: string
                  enum: [approved, denied]
                ciphertext:
                  type: string
                  format: byte
                  description: Required when approving a `retrieve` request.
      responses:
        '200':
          description: Decision recorded. For `pick_up` approval, includes `ciphertext`.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShareRequest'
        '400':
          description: Ciphertext required (retrieve approval) but absent.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '403':
          description: Caller is not the recipient of this request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Request not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '409':
          description: Request is no longer pending.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    delete:
      operationId: deleteShareRequest
      summary: Delete a single share request
      description: >
        Accessible by both the sender and the recipient.
        When deleting a `pick_up` row, the relay also cascades deletion of all associated
        `retrieve` and `delete` rows for the same (secretId, senderKey, recipientKey) triple.
      tags: [ShareRequests]
      parameters:
        - name: requestId
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Request row deleted.
        '403':
          description: Caller is neither the sender nor the recipient.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '404':
          description: Request not found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
